.Header {
  border: 1px solid black;
  border-radius: 6px;
  width: 91.55vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.brand_name {
  background-color: #71717a;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
}

.action_buttons {
  display: flex;
  gap: 10px;
}
.cartButton {
  background: #000 !important;
  color: gold !important;
}
.productsButton {
  color: #000 !important;
  border-color: black !important;
}

@media screen and (max-width: 398px) {
  .Header {
    border: 1px solid black;
    border-radius: 6px;
    /* width: 91.55vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: flex-start;
    padding: 10px;
  }
}
