.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 300px;
  /* height: max-content; */
  border: 1px solid black;
  border-radius: 7px;
  padding: 18px 0px;
  gap: 7px;
}
.productCard > img {
  border-radius: 7px;
  object-fit: cover;
  width: 80%;
}
.detail_box {
  display: flex;
  width: 80%;
  font-size: large;
  font-weight: 500;
  border-radius: 5px;
  justify-content: space-between;
  padding: 0px 15px;
}
.detail_box > p {
  margin: 0;
}
.available {
  width: 80%;
  letter-spacing: 2px !important;
  border-radius: 5px !important;
  color: whitesmoke;
  background-color: black !important;
}
.notAvailable {
  width: 80%;
  border-radius: 5px !important;
  color: whitesmoke;
  background-color: lightslategrey !important;
}
@media screen and (max-width: 539px) {
  .productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: max-content;
    border: 1px solid black;
    border-radius: 9px;
    padding: 18px 10px;
    gap: 30px;
  }
}
