.productPage {
  display: flex;

  padding: 40px;
  border: 8px solid rgb(243, 95, 9);
}
.productGrid {
  padding: 10px;
  border: 8px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
